@model ASP.NET_CoreWebApplicationPage.Models.Recenzja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recenzja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecenzjaUzytkownika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecenzjaUzytkownika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Wróc do listy</a>
</div>
