@{
    ViewData["Title"] = "Ruless";
}

<div class="text-center">

    <h1 class="display-4">Informacje </h1>
    <hr />
    
</div>
<p align="justify">
    <center>
        1 .Blog założony pod koniec maja<br />
        2. Treści na blogu dotyczą ASP.NET<br />
        3. Każda osoba może umieścić recenzję <br />
        4. Ocena w recenzji od 1 do 5 <br />
        5. Tylko administrator może publikować posty<br />
        6. Nie znajomość regulaminu nie zwalnia z jego przestrzegania.<br />
    </center>

</p>
