@model ASP.NET_CoreWebApplicationPage.Models.Forum

@{
    ViewData["Title"] = "Stwórz";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <textarea asp-for="Post" class="form-control" minlength="10" style="width:720px; height:480px;"></textarea>
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wyślij!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
