@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Na tej stronie będziesz mógł czytać najświeższe newsy ASP.NET FanClub!</p>
    <br />
    <br />
    <br />
    <hr />
    
</div>

